<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
{{#each externalCss}}<link rel="stylesheet" type="text/css" href="{{{this}}}" />{{/each}}
{{#if internalCss}}{{#if relCssPath}}<link rel="stylesheet" type="text/css" href="{{{relCssPath}}}" />{{/if}}{{/if}}
{{#each externalJs}}<script type="text/javascript" src="{{{this}}}"></script>{{/each}}
{{#if internalJs}}{{#if relJsPath}}<script type="text/javascript" src="{{{relJsPath}}}"></script>{{/if}}{{/if}}
</head>
<body>

!!!!!Testing!!!!!

</body>
</html>